 
 
 /*baggrund*/
 body, head{
     background-color: #F0EBDF;
     width: auto;
 }

/*navbar*/
 img {
   height:150px;
   width: 150px;
   margin-left: 20px;
   position: relative;
   float: left;
   margin-top: -45px;

 }

.head-nav{
text-align: center;
height: 70px;
line-height: 70px;
margin-top: 60px;


}

.menu {
  margin: 0 30px 0 0;
  
}

.menu a{
  clear: right;
  color: black;
  margin: 0 25px;
  line-height: 70px;
  text-decoration: none;
  letter-spacing: 15px;
  padding-top: 5em;
 
  
}

label {
  margin: 0 10px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
  width: 26px;
  float: right;
}

#toggle {
  display: none;
}

.h1-txt {
  letter-spacing: 20px;
  color: white;
  text-align: center;
  font-size: 20px;
  position: absolute;
  float: left;
  padding-left: 20em;
  margin-top: -30px;
}

.h1-txt span{
  background-color: #362C28;
  padding: 8px;
}

/*button*/
.btn {
    background-color: white;
    border: none;
    color: black;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 2px 1px;
    cursor: pointer;
    margin-top: 150px;
    border-color: black;
    border-width: 10px solid;
  }

.btn-move{
    margin-top: 490px;
    padding-left: 585px;
}  

.btn-dark {
    background-color: #C8C4BC;
    color: black;
    border-color: black;
    border-radius: 5px;

}

  
 /*forside - start (billederne)*/
 * {
  box-sizing: border-box;
  z-index: -4;
}

.front-column {
  float: left;
  padding-top: 100px;
  margin-left: 18em;
  z-index: -4;
  width: 33.33;
}

.front-column2{
  float: left;
  padding-top: 200px;
  margin-left: 10em;
  z-index: -4;
 
}

.front-column3{
  float: left;
  padding-top: 300px;
  margin-left: 120px;
  z-index: -4;
  
}

/* Clearfix (clear floats) */
.front-row::after {
  content: "";
  clear: both;
  display: table;
}


/*front page start - velkommen*/
.fp-velkommen{
  padding: 10px;
  float: left;
  position:absolute;
  padding-left: 300px;
}

.fp-txt{
  position: relative;
  float: left;
  text-align: center;
  padding-left: 320px;
}

.fp-paragraf{
  padding-top: 6em;
  text-align: center;
}

.btn-fp{
  position: relative;
  float: left;
  padding-top: 10px;
  padding-left: 26em;
}



/*front page start - billeder*/
* {
  box-sizing: border-box;
}

.pictures-row::after{
  content: "";
  clear: both;
  display: table;
}

.pictures-column{
  float: left;
  width: 33.33%;
  padding: 10px;
  margin-left: -10px;
}

.pictures-row{
  padding-top: 400px;
}
  

/*front page start - shortcut*/  

.shortcut {
  background-color: #7E9181;
}
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
  }
  
  .flex-item1 {
    padding: 10px;
    flex: 100%;
    z-index: 2;
    color: white;    

  }
  
  .flex-item2{
    padding: 5px;
    flex: -2px;
    z-index: 4;
    margin-top: 10px;
    margin-left: 450px;
    padding-left: 10px;

  }

  .flex-item3{
    flex: 25%;
    z-index: 4;
    margin-top: 10px;
    margin-left: 90px;

  }
 

  .flex-item4{
    padding: 10px;
    flex: 100%;
    z-index: 4;
    font-size: 20px;
    margin-top: 20px;
  }

  .img-cheerz{
    margin-left: 2px;
    width: 230px;
    height: 150px;
    margin-top: 50px;
}

  .img-logo{
    margin-left: 2px;
    width: 230px;
    height: 230px;
    margin-top: 10px;
  }



/*cv side - tekst*/
.title-cv-txt {
    color: black;
    position:absolute;
    text-align: center;
    padding-left: 750px;
    margin-top: 20px;
    font-size: 60px;

  
}
  
.cv-txt-p {
    color: black;
    text-align: center;
    margin-left: -250px;
    margin-top: 170px;
    font-size: 40px;
    width: 100%;
  
}

.cv-txt {
    color: black;
    text-align: center;
    margin-left: -700px;
    margin-top: 130px;
    font-size: 40px;
    width: 100%;
}

  
/*cv side - knap*/    
.btn-move-cv {
    margin-top:-170px;
    padding-left: 690px;
}

/*cv side - billeder*/    
.grid-container-cv {
    display: grid;
    grid-gap: 200px;
    padding: 10px;
}
        
  
.pb1 {
    margin-top:-500px;
    margin-left:1000px;
    padding:250px;
}
  
.pb2 {
    margin-top:-980px;
    margin-left:-100px;
    padding:200px;
}  

/*portfoilio side*/
.titlepf-txt {
    color: black;
    position:absolute;
    text-align: center;
    padding-left: 540px;
    margin-top: -70px;
    font-size: 60px;
}

.edit {
  color: black;
  text-align: center;
  width: 180%;
  margin-top: 20em;
  margin-left: -2.5em;
}



/*contact me side*/
.title-cm-txt {
    color: black;
    position:absolute;
    text-align: center;
    padding-left: 580px;
    margin-top: -30px;
    font-size: 60px;
} 

h2 {
    position:absolute;
    text-align: center;
    padding-left: 780px;
    margin-top: 40px;
    font-size: 30px; 
}

.cm-txt {
    color: black;
    text-align: center;
    margin-left: -420px;
    margin-top: 130px;
    font-size: 40px;
    width: 100%;
}


.phonenumber, .emailaddress, .linkedin {
    color: black;
    text-align: center;
    margin-left: 25px;
    margin-top: 60px;
    font-size: 20px;
    width: 100%;
}

.social-media {
    color: black;
    text-align: center;
    margin-left: 25px;
    margin-top: 60px;
    font-size: 20px;
    width: 100%;
}

.icon-fb, .icon-ig, .icon-gh{
  padding-left: 5px;
  margin: 10px;
  width: 4%;
  margin-left: 320px;
}

.DV {
  margin-top:7em;
  margin-left:-110px
}


.download-cv {
    color: black;
    text-align: center;
    margin-left: 80px;
    margin-top: 130px;
    font-size: 20px;
    width: 100%;
}
.btn-move-cm {
    margin-bottom: 340px;
}

.btn-cm {
  margin-top: 20px;
  margin-left:-100px;

}

/*portfoilio side*/
.titlepf-txt {
  padding-left: 570px;

}

.edit {
width: 180%;
margin-top: 20em;
margin-left: -32em;
}

.pf-pic {
margin-left: 10px;
margin-top: -18em;
width: 100%;
}

/*grid-container youtube - portfolio side*/
.grid-container-yt {
display: grid;
grid-template-columns: auto auto;
grid-gap: 10px;
padding: 10px;
width: 50%;
margin-top: 60em;
}

.grid-container-yt > section {
text-align: center;
padding: 20px 0;
font-size: 30px;
}

.youtube-channel {
grid-row: 1;
margin-left:10px;
margin-top: 5em;
width: 500%;

}

.youtube-text {
grid-row: 2 / 7;
margin-top: -860px;
margin-left: 400px;
width: 100%;

}

.canva {
margin-left:70px;
margin-top: -0.010em;
width: 20%;
}


.breadtxt {
margin-top:-1em;
font-size: 23px;
}



/*grid-container design - portfolio side*/
.grid-container-design {
display: grid;
grid-template-columns: auto auto;
grid-gap: 10px;
margin-top: 50em;
padding: 10px;
width: 100%;
margin-top: 10em;
}

.design-projects {
grid-row: 1 / 7;
}


.design-headtxt {
margin-left: -400px;
width: 100%;
text-align: center;
margin-top: -4em;
font-size: 40px;

}

.breadtxt-design {
margin-top:-4em;
font-size: 23px;
text-align: center;
margin-left: 2em;
width: 170%;
}

.dp-1 {
margin-left:-500px;
margin-top: 7em;
width: 70%;
}

.dp-2 {
margin-left:60px;
margin-top: 7em;
width: 40%;

}

.dp-3 {
margin-left:-650px;
margin-top:30em;
width: 70%;
}


/*grid-container video - portfolio side*/

.videos-txt {
color: black;
text-align: center;
margin-left: -100px;
font-size: 40px;
}

.Youtube{
  margin-left: 900px;
  margin-top: -7.2em;
  width: 420px;
  height: 345px;
}

.SU-kokken {
margin-left: 150px;
margin-top: 15em;
width: 420px;
height: 345px;
}

.breadtxt-video {
margin-top:-19em;
font-size: 23px;
text-align: center;
margin-left: 10em;
width: 70%;
margin-bottom: 100px;
}


    
/*front page start - footer*/
.grid-container-followme {
    display: grid;
    grid-gap: 5px;
    background-color: #362C28;
    padding: 10px;
  }
  
  .grid-item {
    text-align: center;
    padding: 10px;
    font-size: 30px;
  }
  
  .item1 {
    grid-column: 1 / span 2;
    grid-row: 1;
  }
  
  .telefonnummer{
    padding-left: 40px;
  }

  .email {
    float: left;
    margin-left: 670px;
  }

  
  .item2 {
    grid-column: 1 / span 2;
    grid-row: 1 / 4;
    margin-top: 250px;
  }

  h4 {
      margin-left: 80px;
      text-align: center;
      color: white;
      
  }

  .fb, .ig, .gh, .ld, .email, .telefonnummer {
      height: auto;
      width: auto;
  }

  .fb {
    margin-left: 600px;
  }



